@charset "UTF-8";   

.oculta{
	font-size: 0px;
	margin: 0px; 
	padding: 0px;
}

img.logo{
	max-width: 200px;
}

.titulo{
    text-transform: uppercase;
    color: #33B5E5;
    font-size: 35px;
    font-weight: bold;
}
.descricao{
    color: #4A4A4A;
    line-height: 24px;
    margin: 5px;
}

.header{
    background-color: #00a65a;
    float: left;
    width: 100%;
    padding: 15px;
}

.logo{
	float: left;
}

ul.menu{
	list-style: none;
	float: right;
	margin-top: 8px;
}

ul.menu li{
	display: inline;
}

ul.menu li a{
    margin: 8px 32px;
    color: #fff;
    font-size: 16px;
}

ul.menu li a:hover{
	color: #4A4A4A;
	text-decoration: none;
}

.section1{
	background: url('../imagens/background-parallax.png'); background-attachment: fixed;
}

.section2{
	background: url('../imagens/background-parallax.png'); background-attachment: fixed;
}

.color-white{
	color: #357CB8;
}

.color-web{
    color: #357CB8;
}
.color-laravel{
    color: #FB5541;
}
.color-html5{
    color: #1C53F9;
}

a:hover{
	text-decoration: none !important;
}

.slide{
	padding: 120px 0px;
}

.titulo-slide{
    font-size: 40px;
}

.descricao-slide{
    padding-bottom: 20px;
    font-size: 12px;
}

.btn-saiba-mais{
    color: #FFF;
    background-color: #EADC33;
    padding: 10px 24px;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-saiba-mais:hover{
    background-color: #FFF;
    color: #EADC33;
    text-decoration: none;
}

div.copyright{
    background-color: #00a65a;
    margin: 0px;
    padding: 45px;
}
p.copyrigth{
    color: #fff;
    margin: 0px;
}
